@import "tailwindcss";

@theme {
  --color-upstox-green: #00d09c;
  --color-upstox-red: #eb5b3c;
  --color-dashboard-dark: #0f141a;
  
  @keyframes price-up {
    0% {
      background-color: rgba(0, 208, 156, 0.2);
    }
    100% {
      background-color: transparent;
    }
  }
  @keyframes price-down {
    0% {
      background-color: rgba(235, 91, 60, 0.2);
    }
    100% {
      background-color: transparent;
    }
  }

  --animate-flash-green: price-up 1s ease-out;
  --animate-flash-red: price-down 1s ease-out;
}
